language: android
android:
  components:
    - tools
    - build-tools-27.0.3
    - android-27
    - extra-android-m2repository

  script:
    - ./gradlew app:clean app:testDebug --continue --no-daemon
